@use  "./variable.scss"  as *   ;
@use  "mixin.scss"  as *   ;


.header{
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    .v {
        z-index: 0;
        width: 100%;
        height: auto;
        position: relative;
    }
    .barDiv{
        position: absolute;
        margin: 10px 0 0 10px;
        z-index: 1;
        cursor: pointer;
        img{
            width: 30px;
        }
    }
    .nav{
        position: absolute;
        right: 0;
        height: 25%;
        display: flex;
        align-items: center;
        
        a{
            text-decoration: none;
            color: white;
            margin: 20px;
        }
        }
    .logo{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 90px;
        img{
            width: 120px;
            
        }
    }
}

@include tablet{
    .header .v{
        height: 270px;
    }
    .header .logo{
        bottom: 140px;
    }
    .header .logo img{
        width: 90px;
    }
    .header .nav a{
        margin: 10px;
        font-size: 15px;
    }
    .header .nav {
    height: 18%;
    }
    .header .barDiv img{
        width: 30px;
    }
}

@include mobileL {
    .header .nav{
        display: none;
    }
    .header .v{
        display: none;
    }
    .header{
        background-image: linear-gradient(to right ,$mainColor , $secColor);
        height: 80px;
        display: flex;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    .header .logo{
        position: absolute;
        display: block;
        top: 10px;
        right: 0px;
        background-color: aquamarine;
        width: 80px;

        img{
            width: 60px;
        }
    }
    .header .barDiv img{
        width: 40px;
        margin: 10px 0 0 0;
        
    }
}
