@use  "./variable.scss"  as *   ;
@use  './mixin.scss' as * ;
.providerContent{
    
    .top{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .imgDiv{
            width: 120px;
            height: 120px;
            background-color: white;
            box-shadow: 0px 2px 3px 2px rgba(184, 184, 184, 0.5);
            border-radius: 16px;
            margin-top: -15px;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 80px;
            }
        }
        .underImg{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 15px;

            p{
                margin-top: 5px;
            }
        }
        
    }
    .bot{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0 30px 0;
        .info{
            text-align: center;
            width: 450px;
            margin: 10px;
            h1{
                font-size: 20px;
                color: $secColor;
                margin-bottom: 15px;
            }
            
        }
    }
}

@include mobileL {
    .providerContent .top .imgDiv{
       margin-top: 30px;
       width: 180px;
       height: 180px;
    }
    .providerContent .bot{
        margin-bottom: 120px;
    }
    .providerContent .bot .info{
        width: 200px;
    }

}